.card-container{
    background-color:#5d64ae;
    height:200px;
    width:200px;
    border-radius:5px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.time{
    font-family:'Roboto';
    font-size:30px;
    font-weight:bold;
}
p,h1{
    color:#ffffff;
}